<div class="container-fluid no-gutter">
    <div id="map"></div>

    <div class="venue-container">
        <div class="section-content">
            <h1 class="stylized section-header">Venue</h1>
            <ul>
                <li>
                    <li>
                    <b>Location:</b><span>{{ site.wedding-details.ceremony.ceremony-location }}</span>
                </li>
                <li>
                    <a href="http://goo.gl/u2xMqE" target="_blank">Get Directions</a>
                </li>
                <li>
                    <li>
                        <b>Date:</b><span>{{ site.wedding-details.ceremony.ceremony-date }} ({{ site.wedding-details.ceremony.ceremony-day }})</span>
                    </li>
                    <li><b>Time:</b><span>{{ site.wedding-details.ceremony.ceremony-time }}</span></li>
                </li>
            </ul>

        </div>
        <div class="section-content">
            <h1 class="stylized section-header">What to wear?</h1>
            <ul>
                <li>
                    <b id="detail">Wear anything pastel</b>
                </li>
            </ul>
        </div>
    </div>
</div>