<div class="container-fluid no-gutter">
    <div id="map"></div>

    <div class="venue-container">
        <div class="section-content">
            <h1 class="stylized section-header">Venue</h1>
            <ul>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-day }} / {{ site.wedding-details.ceremony.ceremony-date
                        }} / {{ site.wedding-details.ceremony.ceremony-time }} </b>
                </li>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-name }}</b>
                </li>
                <li>
                    <b>{{ site.wedding-details.ceremony.ceremony-location }}</b>
                </li>
            </ul>

        </div>
        <div class="section-content">
            <h1 class="stylized section-header">What to wear?</h1>
            <ul>
                <li>
                    <b>Wear anything pastel</b>
                </li>
            </ul>
        </div>
    </div>
</div>